<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Hot Wheels vs. Human connects your iPad to your Apple TV to race.</string>
	<key>NSCameraUsageDescription</key>
	<string>Takes one picture to color your racer like you. The picture is never saved.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_hwvh-race._tcp</string>
		<string>_hwvh-race._udp</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
